@import '../shared/helper.scss';

.home {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #010310;
    color: white;
    font-size: px(16);
    justify-content: space-between;

    >header,
    >footer {
        height: px(80);
        background-size: cover;
        width: px(2420);
        margin: 0 auto;
        position: relative;
        text-align: center;
        line-height: px(80);
        font-size: px(20);
    }

    >header {
        font-size: px(32);
    }



    >main {
        width: px(2420);
        margin: 0 auto;

        display: grid;
        grid-template:
            "box1 box2 box4 box5" 755fr
            "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
        grid-column-gap: px(28);
        grid-row-gap: px(28);

        >section {
            text-align: center;
        }

        .bordered {
            border: 1px solid #0f3362;
            border-radius: 4px;
            position: relative;
            box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
            background: #0c1139;

            &::before {
                pointer-events: none;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                border-radius: 4px;
            }
        }

        .statistics,
        .ranking,
        .trend,
        .timeFrame,
        .result,
        .nativePlace,
        .ages,
        .row1,
        .row2,
        .amount {
            height: px(315);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            >h2 {
                flex-shrink: 0;
                border: 1px solid #0a5299;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                font-size: px(22);
                line-height: px(24);
                padding: px(10) px(28);
                text-shadow: 0 0 px(3) white;
            }

            .charts {
                display: flex;
                width: 100%;
                flex: 1;
            }

            .chart {
                width: 100%;
                flex: 1;
            }

        }

        >.section1 {
            grid-area: box1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }


        >.section2 {
            grid-area: box2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        >.section3 {
            grid-area: box3;
        }

        >.section4 {
            grid-area: box4;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        >.section5 {
            grid-area: box5;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >.row1 {
                height: px(317);
            }

            >.row2 {
                height: px(337);
            }

            >.row3 {
                height: px(455);
            }
        }



        .trend,
        .timeFrame {
            height: px(363);
        }

        .ranking {
            height: px(423);

        }

        .result,
        .amount {
            padding: 0 px(24);

            >table {
                width: 100%;

                table-layout: fixed;
                border-collapse: collapse;
                margin-top: px(25);

                th,
                td {
                    border: 1px solid #1a3671;
                }

                thead {
                    th {
                        height: px(70);
                        box-shadow: inset 0 0 px(60) 0 #1f3d85;
                    }
                }

                tbody {
                    td {
                        height: px(50);
                        width: px(88);
                        background: #1c2456;
                    }

                }
            }
        }

        .amount {
            >table {
                tbody {
                    td {
                        height: px(26)
                    }
                }
            }
        }

        .nativePlace {
            height: px(753);
            background: #010310;

            >.wrapper {
                position: relative;
                width: 100%;
                flex: 1;
                display: flex;
                flex-direction: column;

                .chart {
                    flex: 1;
                }

                .legend {
                    position: absolute;
                    top: px(20);
                    left: px(20);
                    display: flex;
                    align-items: center;
                    font-size: px(22);
                    padding: px(20) px(10) px(20) 0;
                    border-radius: 0;

                    .icon {
                        margin: 0 px(10);
                        display: inline-block;
                        width: px(16);
                        height: px(16);
                        border-radius: 50%;

                    }
                }


            }
        }

        .ages,
        .row1,
        .row2 {
            height: px(363);


            >.charts {
                position: relative;

                padding: px(20);



                >.level1,
                >.level2,
                >.level3 {
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    .chart {
                        display: flex;
                        flex: 1;
                        position: relative;

                        .main {
                            flex: 1;
                        }

                        .text {
                            font-size: px(40);
                            color: #33a4fa;
                            text-shadow: 0 0 px(20) #33a4fa;
                            font-weight: bold;
                            position: absolute;
                            bottom: 50%;
                            left: 50%;
                            transform: translate(-50%, 50%);
                        }


                    }

                    .legend {
                        height: px(40);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;

                        >span {
                            display: inline-block;
                            width: px(20);
                            height: px(10);
                            border-radius: px(2);
                            margin: 0 px(10)
                        }
                    }
                }

                .level2 {
                    width: px(290);
                    flex-shrink: 0;

                    .legend {

                        justify-content: flex-start;
                    }
                }

                .level3 {
                    border: 1px solid #08397d;

                    h3 {
                        font-size: px(20);
                        color: #7ab6db;
                        margin-top: px(6);
                    }
                }
            }

        }
    }
}